* {
  box-sizing: border-box;
  margin: 0;
}

.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer {
  font-size: 12px;
  padding: 20px;
}