.formContainer {
  font-family: 'Source Code Pro', monospace;
  height: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  background: white;
  border: solid 1px #F2055C;
}

textarea, input {
  border: 1px solid grey;
  width: 100%;
  padding: 8px;
  margin: 5px;
  resize: none;
}

textarea::placeholder,
input::placeholder {
  height: 100%;
  opacity: 0.6;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

.submitButton {
  padding: 9px;
  border-radius: 45px;
  border-radius: 45px;
  background: #F2055C;
  color: white;
  margin-top: 5px;
  outline: none;
  font-family: 'Source Code Pro', monospace;
  font-size: 13px;
  transition: transform 1s;
}

.submitButton:hover {
  cursor: pointer;
  opacity: 0.8;
}

.text-length{
  display: flex;
  font-size: 12px;
}

.red {
  color:#F2055C;
}

.green {
  color: green;
}
